<h1>Books</h1>

<h4>Title</h4><h4>Body</h4>

<p><%= @book.title %></p>

<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
